<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/categories">category</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/product">product</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'blog:list' %}">blog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/versions">versions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/contact">contact</a>
    </li>
    {% if user.is_authenticated %}
      <li>
        <form method="post" action="{% url 'users:logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-success">Выйти</button>

        </form>
      </li>
    {% else %}
      <li><a href="{% url 'users:login' %}" class="nav-link active">Войти</a></li>
      <li><a href="{% url 'users:register' %}" class="nav-link active">Регистрация</a></li>
<!--      <li>-->
<!--        <form method="post" action="{% url 'users:login' %}">-->
<!--            {% csrf_token %}-->
<!--            <button type="submit" class="btn btn-outline-success">Войти</button>-->
<!--        </form>-->
<!--      </li>-->
<!--    <li>-->
<!--        <form method="post" action="{% url 'users:register' %}">-->
<!--            {% csrf_token %}-->
<!--            <button type="submit" class="btn btn-outline-success">Регистрация</button>-->
<!--        </form>-->
<!--      </li>-->
    {% endif %}
</ul>